smartage-ps2018-firebase.json
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/*
/app/src/main/java/com/example/flaviomassimo/smartage/Constants.java
/app/src/debug/res/values/google_maps_api.xml
